<div class="modal fade" id="modalAlert" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-3 border-0 p-3 p-md-4">
      <div class="modal-header d-block mb-2 p-0">
        <button type="button" class="btn-close d-block" data-bs-dismiss="modal"></button>
        <h3 class="modal-title text-center">{{ title }}</h3>
      </div>

      <div class="modal-body p-0">
        <p class="text-small text-center ws-pre-line mt-3 mb-4">{{ description }}</p>
      </div>

      <div class="modal-footer p-0">
        <button type="button" class="btn btn-primary flex-fill" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
